.responsive-img {
	max-width: 100%;
	
}
.responsive-img.rotate0 {
	max-width: 100%;
	min-height: 100%;
  }
  
  .responsive-img.rotate90 {
	transform: rotate(90deg) translateY(-100%);
	transform-origin: top left;
  }
  
  .responsive-img.rotate180 {
	max-width: 100%;
	min-height: 100%;
	transform: rotate(180deg);
	height: auto;
  }
  
  .responsive-img.rotate270 {
	transform: rotate(270deg) translateX(-100%);
	transform-origin: top left;
  }
  
.ml-2{
	margin-left: 1em;
}
.ml-4{
	margin-left: 1.5em;
}

.mr-2{
	margin-right: 0.5em;
}
.letter{
	width: 40px;
	/* height: 40px; */
	padding-top: 2.5%;
  	font-size: x-large;
  	color: #222;
  	text-rendering: optimizeLegibility;        
}

.my-container{
	display: flex;	
  }
  
  .my-container-content{
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
  }
.details-xs {
	position:sticky;
	top: 0px;	
	transition: transform 0.5s;
}

/*
.details.down {
	transform: translate(0px, -160px);
} */

.markdown{
	font-size: 1rem;
	/* color: #444; */
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
	margin: 0 auto;	
	overflow-y: auto;
	line-height: 1.45;
	padding: .25rem;		
}

 /* min-height: 22vh; */

.markdown li p {
	margin: 0px;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: Helvetica, sans-serif;
}

.markdown pre {
	
	background-color: #102027;
	border-radius: 5px;
	padding: 8px;
}

.markdown h1 {
  font-size: 1.6em;
  border-bottom: 1px solid #666;  
  margin-bottom: 1.15rem;
  padding-bottom: .5rem;  
}

.markdown h2 {
	font-size: 1.2em;
  }

.markdown h3, 
.markdown h4, 
.markdown h5, 
.markdown h6 {
	font-size: 1.1em;	
  }  

.markdown a, 
.markdown a:visited {
	color: #3498db;
  }
  
.markdown a:hover, 
.markdown a:focus,
.markdown a:active {
	color: #2980b9;
  }
  