

.ml-2{
	margin-left: 1em;
}
.ml-4{
	margin-left: 1.5em;
}

.mr-2{
	margin-right: 0.5em;
}
.letter{
	width: 40px;
	/* height: 40px; */
	padding-top: 2.5%;
  	font-size: x-large;
  	color: #222;
  	text-rendering: optimizeLegibility;        
}
